
        <!DOCTYPE html>
        <html lang="pl" data-layout-decorate="~{fragments/layout}">
          <head>
            <title>Nowy pracownik</title>
          </head>
          <body>
<!-- page content -->

 <div class="right_col" role="main"  data-layout-fragment="content" >
           <div class="">
             <div class="page-title">
               <div class="title_left">
 <h3>Dodaj nowego pracownika</h3>
               </div>

             </div>
             <div class="clearfix"></div>
             <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
 <div class="x_panel">
   <div class="x_title">
     <h2>Formularz</h2>
     <div class="clearfix"></div>
   </div>
   <div class="x_content">
     <br />
 <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" th:object="${employe}" th:action="@{/employees}" th:method="post" >

       <div class="form-group">
         <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">Imie <span class="required">*</span>
         </label>
         <div class="col-md-3 col-sm-2 col-xs-12">
           <input  type="text" id="first-name"  class="form-control col-md-7 col-xs-12" th:field="*{name}">
         </div>
         <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Nazwisko
         </label>
         <div class="col-md-4 col-sm-4 col-xs-12">
         <input type="text" id="last-name" required="required" class="form-control col-md-7 col-xs-12" th:field="*{lastname}">
         </div>
       </div>

       <div class="form-group">
         <label for="deal" class="control-label col-md-2 col-sm-2 col-xs-12">Umowa<span class="required">*</span></label>
         <div class="col-md-3 col-sm-3 col-xs-12">
            <select id="dealvalue" class="form-control" required="required"  th:field="*{deal}">
             <option th:value="etat">Etat</option>
               <option th:value="etat2">Etat 1/2</option>
               <option th:value="etat4">Etat 1/4</option>
               <option th:value="etat8">Etat 1/8</option>
               <option th:value="spec">Spec</option>
               <option th:value="stud">Student</option>
               <option th:value="zewn">Zewn</option>
            </select>
         </div>
         <label class="control-label col-md-1 col-sm-1 col-xs-12">Stawka <span class="required">*</span>
         </label>
         <div class="col-md-4 col-sm-4 col-xs-12">
         <input id="rate" class="form-control col-md-7 col-xs-12" required="required" type="number" th:field="*{rate}">
         </div>
       </div>
       <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">Legitymacja <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-2 col-xs-12">
                          <input type="number" id="numberoflegit" required="required" class="form-control col-md-7 col-xs-12" th:field="*{numberoflegit}">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Pof
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="number" id="pof" required="required" class="form-control col-md-7 col-xs-12" th:field="*{pof}">
                        </div>
                      </div>

       <div class="form-group">
        <label for="deal" class="control-label col-md-2 col-sm-2 col-xs-12">SIL<span class="required">*</span></label>
       <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="heard" class="form-control" required="required"  th:field="*{sil}" >
       <option value="Brak">Brak</option>
                     <option value="Etat">Etat</option>
                        <option value="etat4">Etat 1/4</option>
                        <option value="etat8">Etat 1/8</option>
                         <option value="Zus">Zus</option>
                         <option value="Zdr">Zdr</option>
                         <option value="db">db.</option>
           </select>
            </div>

           <label for="deal" class="control-label col-md-1 col-sm-1 col-xs-12">SYS<span class="required">*</span></label>
  <div class="col-md-2 col-sm-1 col-xs-12">
   <select id="heard" class="form-control" required="required"  th:field="*{sys}">
  <option value="Brak">Brak</option>
                <option value="Etat">Etat</option>
                   <option value="etat4">Etat 1/4</option>
                   <option value="etat8">Etat 1/8</option>
                    <option value="Zus">Zus</option>
                    <option value="Zdr">Zdr</option>
                    <option value="db">db.</option>

      </select>
       </div>

      <label for="deal" class="control-label col-md-1 col-sm-1 col-xs-12">EKO<span class="required">*</span></label>
             <div class="col-md-2 col-sm-1 col-xs-12">
              <select id="heard" class="form-control" required="required"  th:field="*{eko}">
              <option value="Brak">Brak</option>
              <option value="Etat">Etat</option>
                 <option value="etat4">Etat 1/4</option>
                 <option value="etat8">Etat 1/8</option>
                  <option value="Zus">Zus</option>
                  <option value="Zdr">Zdr</option>
                  <option value="db">db.</option>

 </select>
  </div>
  </div>
       <div class="ln_solid"></div>
       <div class="form-group">
         <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
           <button class="btn btn-primary" type="button">Cancel</button>
 			<button class="btn btn-primary" type="reset">Reset</button>
           <button type="submit" class="btn btn-success">Submit</button>
         </div>
       </div>



     </form>

   </div>
 </div>
               </div>
             </div>


           </div>
         </div>

<!-- /page content -->
          </body>
        </html>


